@charset "utf-8";
.required {
	color: #f00;
}
.term-status-wrap td label {
	margin-right: 15px;
}
.radio-group {
	min-height: 42px;
	max-height: 200px;
	overflow: auto;
	padding: .5em;
	border: 1px solid #ddd;
	background-color: #fdfdfd;
}
#content {
	height: 200px;
	overflow: auto;
	padding: .5em;
	width: 100%;
}
#delete {
	background: #f22800;
	border-color: #af1e00 #af1e00 #af1e00;
	box-shadow: 0 1px 0 #af1e00;
	text-shadow: 0 -1px 1px #af1e00, 1px 0 1px #af1e00, 0 1px 1px #af1e00, -1px 0 1px #af1e00;
}
#delete.focus,
#delete.hover,
#delete:focus,
#delete:hover {
	background: #ff2c00;
	border-color: #af1e00;
}
#delete.focus,
#delete:focus {
	box-shadow: 0 1px 0 #ff3500, 0 0 2px 1px #ff5434;
}
#errorList {
	border-color: #dc3232;
	display: none;
}
#errorList li {
	margin: .5em 0;
	padding: 2px;
}
#disease_name {
	width: 50%;
}
.form-table {
	table-layout: fixed;
}

